@media (max-width: 767px) {
    .zero{
        margin-left: -10px;
    }
    .first{
     margin-left: -30px;
     margin-top: 10px;
    }
    .second{
       margin-left: -30px;
    }
    .third{
        margin-left: -30px;
    }
    .fourth{
        margin-left: -30px;
    }
    .fifth{
        margin-left: -30px;
    }
}
