#Content {
  width: 100%;
  // margin: 34px;
  // padding: 67px;
  display: block;
  clear: both;
  position: relative;
  // margin-top: 33px;
  background-color: white;
  margin-top: 68px;
  padding: 30px 80px;
}

#page_content {
  background-color: #ffffff;
  margin: 0 auto;
  width: 91.5%;
  padding-bottom: 5px;
}

.slide-wrapper img {
  max-width: 100%;
  margin-bottom: 20px;
  height: 302px;
  margin-left: 218px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  color: #be4b50;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  height: 45px;
  border-bottom: 3px solid #eaeaea;
}

.pageText {
  font-size: 15px;
  color: #666666;
  line-height: 24px;
  font-weight: normal;
  text-align: justify;
  font-family: 'Almarai', sans-serif;
  font-family: 'Varela', sans-serif;
}

.pageTextBlue {
  font-size: 18px;
  color: #1b8ec8;
  text-align: left;
  line-height: 24px;
  font-weight: normal;
}
strong {
  font-weight: bold;
}
@media (max-width: 767px) {
  #Content {
    margin-left: 0px;
    margin-top: 70px;
    padding: 20px;
  }
  .slide-wrapper img {
    margin-left: 1px;
  }
}
