.one{
    border-radius: 20px;
    height: 343px;
  }
  .two{
    height: 88%;
    width: 100%;
  }
  .three{
      margin: 16px;
  }
  .four{
    margin-top: 15px;
  }
  .five{
   margin-top: -137px;
   width: 425px;
   height: 255px;
  }
  .six{
    margin-top: 46px;
  }